<section id="intro-banamex">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= image_tag "intro.png", class: "img-responsive center" %>
      <h1 class="center">Disfruta de todos los beneficios exclusivos que tenemos para ti por ser cliente Banamex</h1>
    </div>
  </div>
</section>

<div id="beneficios" class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
          <div class="panel-heading green" role="tab" id="headingOne">
            <h1 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Asientos preferenciales dentro de la Fila Banamex en los talleres y conferencias
              </a>
            </h1>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <p>Presenta tu Tarjeta Banamex en la entrada a las conferencias y talleres donde te hayas registrado para acceder a las filas preferenciales.</p>
              <p class="subtext">Sujeto a disponibilidad. Es necesario presentarse 20 minutos previos al inicio para poder hacer uso de este beneficio.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h1 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Servicio de Concierge
              </a>
            </h1>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <p>Acércate con nuestro Beyond Lifestyler en el Spot Banamex y deja que nuestros asesores se encarguen de consentirte. Podrás conseguir reservaciones en los mejores restaurantes, transporte privado y conocer más sobre este beneficio exclusivo para clientes Premium Banamex.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading green" role="tab" id="headingOne">
            <h1 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                Promociones en restaurantes aledaños
              </a>
            </h1>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <p>Disfruta de una deliciosa comida, un rico café o una divertida noche en los restaurantes y bares que participan con nosotros en esta edición de Women´s Weekend con descuentos, promociones y cortesías para clientes Banamex.</p>
              <p class="subtext">Beneficios exclusivos para mujeres que paguen con su Tarjeta Banamex.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h1 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                Si eres emprendedora y tienes un negocio, conoce iAcepta
              </a>
            </h1>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <p>Lleva más lejos tu negocio con iAcepta Móvil Banamex, una terminal punto de venta de última generación discreta y portátil, que te permitirá aceptar pagos con tarjetas de Crédito y Débito con Chip y Banda, utilizando Smartphones o Tablets Apple o Android. </p>
              <p>Encuentra más información en el Spot Banamex</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading green" role="tab" id="headingOne">
            <h1 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                No olvides asistir a las conferencias y workshops que preparamos para ti: 
              </a>
            </h1>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <p>“El techo de cristal, a través de la vida” por Loreto García el viernes 6 a las 17:30 hrs en la sección de Wellness.</p>
              <p>“Los caminos hacia el éxito” con la participación de Aida Román, Alejandra Llaneza y Susana Ferrando, el sábado 7 a las 17:00 hrs</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>