
<!-- Cover -->
<section id="cover">
  <div class="cover-images">
    <%= image_tag "banamex-presenta.png", class: "img-responsive center" %>
    <%= image_tag "logo-big.png", class: "img-responsive center" %>
  </div>
</section>
<!-- /Cover -->

<section id="que-es">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h1 class="center">¿Qué es?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure animi dolor quidem, eaque consectetur provident enim placeat. Fuga non, molestias nihil! Voluptatibus odit ipsam voluptatem dolores quas provident assumenda delectus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, sapiente. Quos officia esse sequi voluptatem, quae commodi eaque quidem aliquam, repudiandae maiores? Corrupti impedit sunt, voluptas eius sequi deserunt reprehenderit!</p>
      </div>
    </div>
  </div>
</section>

<section id="mapa">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-sm-6 mapa">
        <h1 class="center">Mapa St. Regis</h1>
      </div>
      <div class="col-sm-6">
        <h1 class="center">¿Cuándo y Dónde?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure animi dolor quidem, eaque consectetur provident enim placeat. Fuga non, molestias nihil! Voluptatibus odit ipsam voluptatem dolores quas provident assumenda delectus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, sapiente. Quos officia esse sequi voluptatem, quae commodi eaque quidem aliquam, repudiandae maiores? Corrupti impedit sunt, voluptas eius sequi deserunt reprehenderit!</p>
      </div>
    </div>
  </div>
</section>
