
<!-- Cover -->
<section id="cover">
  <div class="cover-images">
    <%= image_tag "banamex-presenta.png", class: "img-responsive center" %>
    <%= image_tag "logo-big.png", class: "img-responsive center" %>
  </div>
</section>
<!-- /Cover -->

<!-- Qué es -->
<section id="que-es">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h1 class="center">¿Qué es?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure animi dolor quidem, eaque consectetur provident enim placeat. Fuga non, molestias nihil! Voluptatibus odit ipsam voluptatem dolores quas provident assumenda delectus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, sapiente. Quos officia esse sequi voluptatem, quae commodi eaque quidem aliquam, repudiandae maiores? Corrupti impedit sunt, voluptas eius sequi deserunt reprehenderit!</p>
      </div>
    </div>
  </div>
</section>
<!-- Qué es -->

<!-- Mapa -->
<section id="mapa">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-sm-6 mapa">
        <h1 class="center">Mapa St. Regis</h1>
      </div>
      <div class="col-sm-6">
        <h1 class="center">¿Cuándo y Dónde?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure animi dolor quidem, eaque consectetur provident enim placeat. Fuga non, molestias nihil! Voluptatibus odit ipsam voluptatem dolores quas provident assumenda delectus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, sapiente. Quos officia esse sequi voluptatem, quae commodi eaque quidem aliquam, repudiandae maiores? Corrupti impedit sunt, voluptas eius sequi deserunt reprehenderit!</p>
      </div>
    </div>
  </div>
</section>
<!-- /Mapa -->

<!-- Ponentes -->
<section id="ponentes">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-sm-4 ponente">
        <div class="ponente-info">
          <h3 class="center">Ponente</h3>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequuntur, architecto esse quasi sunt. Voluptatum pariatur maiores esse natus ex, optio debitis eum vitae exercitationem. Dolore provident ex pariatur, voluptate?</p>
        </div>
      </div>
      <div class="col-sm-4 ponente">
        <div class="ponente-info">
          <h3 class="center">Ponente</h3>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequuntur, architecto esse quasi sunt. Voluptatum pariatur maiores esse natus ex, optio debitis eum vitae exercitationem. Dolore provident ex pariatur, voluptate?</p>
        </div>
      </div>
      <div class="col-sm-4 ponente">
        <div class="ponente-info">
          <h3 class="center">Ponente</h3>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequuntur, architecto esse quasi sunt. Voluptatum pariatur maiores esse natus ex, optio debitis eum vitae exercitationem. Dolore provident ex pariatur, voluptate?</p>
        </div>
      </div>
      <div class="col-sm-4 ponente">
        <div class="ponente-info">
          <h3 class="center">Ponente</h3>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequuntur, architecto esse quasi sunt. Voluptatum pariatur maiores esse natus ex, optio debitis eum vitae exercitationem. Dolore provident ex pariatur, voluptate?</p>
        </div>
      </div>
      <div class="col-sm-4 ponente">
        <div class="ponente-info">
          <h3 class="center">Ponente</h3>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequuntur, architecto esse quasi sunt. Voluptatum pariatur maiores esse natus ex, optio debitis eum vitae exercitationem. Dolore provident ex pariatur, voluptate?</p>
        </div>
      </div>
      <div class="col-sm-4 ponente">
        <div class="ponente-info">
          <h3 class="center">Ponente</h3>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequuntur, architecto esse quasi sunt. Voluptatum pariatur maiores esse natus ex, optio debitis eum vitae exercitationem. Dolore provident ex pariatur, voluptate?</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Ponentes -->

<!-- Showrooms -->
<section id="showrooms">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Showrooms</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore optio omnis id laborum voluptatibus totam explicabo sit, nobis quasi vero consequatur, praesentium reprehenderit vel doloribus aperiam maxime suscipit. Voluptate, ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum eaque, accusantium laboriosam. Quo cumque nihil facere itaque mollitia consectetur saepe cupiditate debitis fugiat, temporibus, soluta, maxime doloremque alias, enim officia?</p>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
  </div>
</section>
<!-- /Showrooms -->


<!-- Sponsors -->
<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 sponsor"><div class="sponsor-container"></div></div>
      <div class="col-sm-4 sponsor"><div class="sponsor-container"></div></div>
      <div class="col-sm-4 sponsor"><div class="sponsor-container"></div></div>
      <div class="col-sm-4 sponsor"><div class="sponsor-container"></div></div>
      <div class="col-sm-4 sponsor"><div class="sponsor-container"></div></div>
      <div class="col-sm-4 sponsor"><div class="sponsor-container"></div></div>
    </div>
  </div>
</section>
<!-- /Sponsors -->

