
<!-- Cover -->
<section id="cover">
  <div class="cover-images">
    <%= image_tag "intro.png", class: "img-responsive center" %>
  </div>
</section>
<!-- /Cover -->

<!-- Qué es -->
<section id="que-es">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h1 class="center">¿Qué es?</h1>
        <p>Women’s Weekend es un fin de semana de experiencias, contenidos y showrooms de productos y servicios para la mujer actual. Somos mamás, empresarias, profesionistas, estudiantes, artistas, escritoras y deportistas juntas en un solo lugar. Una vez al año, sólo para nosotras.</p>
      </div>
    </div>
  </div>
</section>
<!-- Qué es -->

<!-- Mapa -->
<section id="mapa">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-sm-6">
        <h1 class="center">¿Cuándo y Dónde?</h1>
        <p class="center">6, 7 y 8 DE MARZO DE 2015</p>
        <p class="center">THE ST. REGIS MEXICO CITY</p>
      </div>
      <div class="col-sm-6 mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15050.766085889663!2d-99.172428!3d19.42573!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe7179355336f6a97!2sThe+St.+Regis+Mexico+City!5e0!3m2!1sen!2smx!4v1424128828864" width="100%" height="400" frameborder="0" style="border:0"></iframe>
      </div>
    </div>
  </div>
</section>
<!-- /Mapa -->

<!-- Ponentes -->
<section id="ponentes">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-sm-4 ponente">
        <div class="ponente-info">
          <h3 class="center">Ponente</h3>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequuntur, architecto esse quasi sunt. Voluptatum pariatur maiores esse natus ex, optio debitis eum vitae exercitationem. Dolore provident ex pariatur, voluptate?</p>
        </div>
      </div>
      <div class="col-sm-4 ponente">
        <div class="ponente-info">
          <h3 class="center">Ponente</h3>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequuntur, architecto esse quasi sunt. Voluptatum pariatur maiores esse natus ex, optio debitis eum vitae exercitationem. Dolore provident ex pariatur, voluptate?</p>
        </div>
      </div>
      <div class="col-sm-4 ponente">
        <div class="ponente-info">
          <h3 class="center">Ponente</h3>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequuntur, architecto esse quasi sunt. Voluptatum pariatur maiores esse natus ex, optio debitis eum vitae exercitationem. Dolore provident ex pariatur, voluptate?</p>
        </div>
      </div>
      <div class="col-sm-4 ponente">
        <div class="ponente-info">
          <h3 class="center">Ponente</h3>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequuntur, architecto esse quasi sunt. Voluptatum pariatur maiores esse natus ex, optio debitis eum vitae exercitationem. Dolore provident ex pariatur, voluptate?</p>
        </div>
      </div>
      <div class="col-sm-4 ponente">
        <div class="ponente-info">
          <h3 class="center">Ponente</h3>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequuntur, architecto esse quasi sunt. Voluptatum pariatur maiores esse natus ex, optio debitis eum vitae exercitationem. Dolore provident ex pariatur, voluptate?</p>
        </div>
      </div>
      <div class="col-sm-4 ponente">
        <div class="ponente-info">
          <h3 class="center">Ponente</h3>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequuntur, architecto esse quasi sunt. Voluptatum pariatur maiores esse natus ex, optio debitis eum vitae exercitationem. Dolore provident ex pariatur, voluptate?</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Ponentes -->

<!-- Showrooms -->
<section id="showrooms">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Showrooms</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore optio omnis id laborum voluptatibus totam explicabo sit, nobis quasi vero consequatur, praesentium reprehenderit vel doloribus aperiam maxime suscipit. Voluptate, ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum eaque, accusantium laboriosam. Quo cumque nihil facere itaque mollitia consectetur saepe cupiditate debitis fugiat, temporibus, soluta, maxime doloremque alias, enim officia?</p>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
  </div>
</section>
<!-- /Showrooms -->


<!-- Sponsors -->
<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 sponsor"><div class="sponsor-container"></div></div>
      <div class="col-sm-4 sponsor"><div class="sponsor-container"></div></div>
      <div class="col-sm-4 sponsor"><div class="sponsor-container"></div></div>
      <div class="col-sm-4 sponsor"><div class="sponsor-container"></div></div>
      <div class="col-sm-4 sponsor"><div class="sponsor-container"></div></div>
      <div class="col-sm-4 sponsor"><div class="sponsor-container"></div></div>
    </div>
  </div>
</section>
<!-- /Sponsors -->

