$primary-color: #ee475d;
$secondary-color: #00b79f;
$dark-color: #333333;

@font-face {
  font-family: 'Brandon';
  src: font-url('Brandon_reg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon';
  src: font-url('Brandon_light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon';
  src: font-url('Brandon_med.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon';
  src: font-url('Brandon_bld.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*{
  font-family: 'Brandon';
}

.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.alert{
  margin-bottom: 0px;

  p{
    margin-bottom: 0px;
  }
}

.btn-login{
  border: 0px;
  background-color: $secondary-color;
  color: #fff;

  &:hover{
    background-color: darken($secondary-color, 5%);
    color: #fff;
  }
}

.btn-full{
  width: 100%;
}

.page-container{
  margin-top: 20px;
  margin-bottom: 30px;
}

a:visted,
a:active{
  background-color: none;
  border:none;
}