$primary-color: #ee475d;
$secondary-color: #00b79f;
$dark-color: darken(#eee, 50%);

.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.alert{
  margin-bottom: 0px;

  p{
    margin-bottom: 0px;
  }
}

.btn-login{
  border: 0px;
  background-color: $secondary-color;
  color: #fff;

  &:hover{
    background-color: darken($secondary-color, 5%);
    color: #fff;
  }
}

.btn-full{
  width: 100%;
}

.page-container{
  margin-top: 20px;
  margin-bottom: 30px;
}