/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "_general.css.scss";

#main-nav{
  margin-bottom: 0px;
  background-color: $primary-color;
  border-color: $primary-color;
  border-radius: 0px;
  color: #fff;

  .container{
    padding-top: 10px;
    padding-bottom: 10px;

    .navbar-brand{
      padding: 0px;
    }

    .logo-nav{
      height: 50px;
      padding: 0px;
    }

    a{
      color: #fff;
      text-transform: uppercase;

      @media only screen and (max-width: 778px){
        text-align: center;
      }
    }

    .btn{
      margin-top: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: $secondary-color;
      border: 0px;

      &:hover{
        background-color: darken($secondary-color, 5%);
      }

      @media only screen and (max-width: 992px){
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .icon-bar{
      background-color: #fff;
    }
  }  
}

footer{
  width: 100%;
  height: 200px;
  background-color: $dark-color;

  .row{
    padding-top: 40px;
  }

  .logo-footer{
    float: left;
    width: 60px;
  }

  a{
    i{
      color: #eee;
      float: right;
      padding: 10px 15px;

      &:hover{
        color: $primary-color;
      }
    }
  }
}

#login{
  padding-top: 40px;
  padding-bottom: 80px;

  .call-to{
    margin-top: 30px;
  }
}

#register{
  padding-top: 40px;
  padding-bottom: 80px;

  .call-to{
    margin-top: 30px;
  }
}

#cover{
  background-image: image-url("cover.jpg");
  background-position: top center;
  background-size: cover;
  width: 100%;
  margin-top: -2px;

  .cover-images{
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

#que-es{
  background-color: $primary-color;
  color: #fff;

  .row{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  p{
    font-size: 20px;
    text-align: center;
    font-weight: 300;
  }
}

#mapa{
  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }

  .mapa{
    background-color: #eee;
    padding-left: 0px;
    padding-right: 0px;
  }

  h1{
    color: $primary-color;
  }

  p{
    font-size: 20px;
    text-align: center;
    font-weight: 300;
  }

  .cuando{
    padding-top: 100px;

    @media only screen and (max-width: 778px){
      padding-top: 0px;
    }
  }
}

#ponentes{
  color: #fff;
  text-shadow: 1px 1px 3px #333;

  .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .ponente{
    height: 300px;
    padding-left: 0px;
    padding-right: 0px;
    background-size: cover;
    background-position: center center;

    .ponente-info{      
      padding-top: 80px;
      padding-left: 15px;
      padding-right: 15px;

      p{
        font-size: 18px;
        display: none;
        font-weight: 300;
      }
    }

    .overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 183, 159, 0.4);
    }

    &:hover{

      .overlay{
        background-color: rgba(0, 183, 159, 0.8);
        @include transition(all 0.1s ease-in);
      }
      
      .ponente-info{
        p{
          display: block;
          @include transition(all 0.1s ease-in);
        }
      }
    }
  }

  .ponente-mas{
    height: 300px;
    background-color: rgba(0, 183, 159, 1);
    color: #fff;

    a{
      color: #fff;
      font-size: 40px;
    }

    .link{
      padding-top: 100px;
    }
  }
}

#showrooms-home{
  background-color: $primary-color;
  color: #fff;

  .row{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  p{
    font-size: 20px;
    font-weight: 100;
  }

  a{
    color: #fff;
    font-size: 22px;
  }
}

#sponsors{
  .row{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .sponsor{
    margin-bottom: 10px;
  }
}

#intro-ponentes{
  background-color: $secondary-color;
  color: #fff;

  .container{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .home{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  h1{
    padding: 0px;
  }

  span{
    color: $primary-color;
    font-weight: 300;
  }
}

#ponentes-agenda{
  padding-top: 30px;
  padding-bottom: 30px;

  .speaker-profile{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  a{
    color: #fff;
  }

  .modal-header{
    border: 0px;
  }

  .ponente-list.rosa{
    .overlay{
      background-color: rgba(238, 71, 93, 0.5);
    }

    &:hover{
      .overlay{
        background-color: rgba(238, 71, 93, 0.2);
        @include transition(all 0.3s ease-in);
      }
    }
  }

  .ponente-list{
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-right: 0px;
    padding-left: 0px;
    text-shadow: 1px 1px 3px #000;

    .content{
      padding: 50px 15px;

      @media only screen and (max-width: 1200px){
        padding: 30px 15px;
      }

      @media only screen and (max-width: 778px){
        padding: 40px 15px;
      }
    }

    .description{
      text-align: center;
    }

    .overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 183, 159, 0.5);
    }

    &:hover{
      .overlay{
        background-color: rgba(0, 183, 159, 0.2);
        @include transition(all 0.3s ease-in);
      }
    }
  }

}

.titulo-rosa{
  width: 100%;
  background-color: $primary-color;
  color: #fff;

  h1{
    padding: 20px 0px;
  }
}

.titulo-verde{
  width: 100%;
  background-color: $secondary-color;
  color: #fff;

  h1{
    padding: 20px 0px;
  }
}

#showrooms-intro{
  width: 100%;
  color: #fff;
  background-color: lighten($secondary-color, 5%);

  .container{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  p{
    font-size: 20px;
  }

  h1{
    text-align: center;
    padding-top: 30px;

    @media only screen and (max-width: 778px){
      padding-top: 10px;
    }
  }

  .down{
    padding-top: 20px;
  }
}

#showrooms{
  width: 100%;
  background-color: $secondary-color;
  padding-top: 30px;
  padding-bottom: 30px;
}

.modal-showroom{
  background-color: $secondary-color;
  color: #fff;
  a{
    color: #fff;
  }

  p{
    font-size: 20px;
  }
}

#cover-2014{
  background-image: image-url("intro-2014.jpg");
  background-position: top center;
  background-size: cover;
  width: 100%;
  margin-top: -5px;

  .cover-images{
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

#expertas-2014{
  .titulo{
    width: 100%;
    background-color: $primary-color;
    color: #fff;

    h1{
      font-weight: 300;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .container{
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .ponentes-2014{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .ponente-2014{
    padding-bottom: 20px;
    h3{
      text-align: center;
      color: $secondary-color;
    }
  }

  .lista{
    font-weight: 300;
    color: $secondary-color;
    text-align: center;
    padding-bottom: 50px;

    h3{
      font-weight: 300;
      line-height: 130%;
    }
  }
}

#myevents{

}

.button-workshop{
  .btn-registro,
  .btn-w-registro,
  .btn-create,
  .btn-delete{
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;

    @media only screen and (max-width: 778px){
      padding-top: 2px;
      padding-bottom: 2px;
      font-size: 9px;
    }
  }
}

.btn-registro{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-color: $secondary-color;
  border-color: $secondary-color;

  @media only screen and (max-width: 778px){
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.btn-w-registro{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-color: $secondary-color;
  border-color: $secondary-color;

  @media only screen and (max-width: 778px){
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &:hover{
    color: #fff;
  }
}

.btn-create{
  background-color: $secondary-color;
  border-color: $secondary-color;

  &:hover{
    color: #fff;
    background-color: lighten($secondary-color, 5%);
  }
}

.btn-delete{
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover{
    color: #fff;
    background-color: lighten($primary-color, 5%);
  }
}



#agenda{
  padding-top: 30px;
  padding-bottom: 30px;

  p, a{
    @media only screen and (max-width: 778px){
      font-size: 10px;
    }
  }

  .legend{
    p{
      color: darken(#eee, 40%);
      font-size: 16px;

      @media only screen and (max-width: 778px){
        font-size: 14px;
      }
    }
  }

  .day-nav{
    padding-top: 20px;
    padding-bottom: 20px;

    .nav{
      li{
        padding: 0px 3px;

        a{
          color: #fff;
          background-color: lighten($secondary-color, 8%);
          border-radius: 0px;
          font-size: 20px;
        }
      }

      .active{
          a{
            background-color: $secondary-color;
          }
        }
    }
  }

  .event-nav{
    padding-top: 20px;

    .nav{
      li{
        padding: 0px 3px;

        a{
          color: #fff;
          background-color: lighten($secondary-color, 8%);
          border-radius: 0px;
          font-size: 24px;
        }
      }

      .active{
          a{
            background-color: $secondary-color;
          }
        }
    }
  }

  .row.event{
    margin-bottom: 10px;
  }

  .time{
    color: #fff;
    padding-left: 18px;

    .content{
      background-color: $secondary-color;

      p{
        padding-top: 21px;
        padding-bottom: 21px;

        @media only screen and (max-width: 778px){
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    } 
  }

  .adidas{
    height: 50px;
  }

  .info{
    color: #333;
    padding-right: 15px;

    .content{
      background-color: rgba(0, 183, 159, 0.1);

      .name{
        padding-top: 10px;
        padding-bottom: 5px;
        margin: 0px;
      }

      .subtitle{
        padding-bottom: 5px;
        margin: 0;
      }

      .speaker{
        padding-bottom: 10px;
        margin: 0px;
        color: $primary-color;
        font-weight: 500;
      }
    } 
  }

  .w-registered{
    .content{
      background-color: rgba(0, 183, 159, 0.3);
    }
  }

  .lunch{
    color: #fff;
    padding-right: 15px;

    .content{
      background-color: $secondary-color;

      .name{
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0px;
        @media only screen and (max-width: 778px){
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    } 
  }

  .modal{
    p{
      font-size: 14px;
    }
  }

  #workshop-calendar{

    .column{
      padding: 0px;
    }

    .info{
      margin-top: 5px;
      margin-bottom: 5px;

      .content{
        padding-left: 10px;
        padding-right: 10px;
      }

      .block{
        background-color: lighten($primary-color, 10%);
      }

      .l-1{
        height: 200px;
      }
      .l-2{
        height: 400px;
      }
      .l-3{
        height: 300px;
      }
      .l-4{
        height: 100px;
      }

      @media only screen and (max-width: 778px){
        p{
          font-size: 10px;
        }
        .l-1{
          height: 200px;
        }
        .l-2{
          height: 400px;
        }
        .l-3{
          height: 300px;
        }
        .l-4{
          height: 100px;
        }
      }

      .time-w{
        color: $secondary-color;
        margin: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

#intro-banamex{
  padding-top: 40px;
  padding-bottom: 40px;

  h1, h2, h3, h4, h5, p, a{
    font-family: 'Interstate';
  }
  
  .radius{
    border-bottom-left-radius: 5px;
  }

  h1{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .col-xs-6{
    padding-right: 0px;
    padding-left: 0px;
  }

  .tag-banamex{
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
    @include linear-gradient(#00bdf2, lighten(#004785, 1%));
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
  }

  .img-banamex{
    background-size: cover;
    background-position: center center;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
  }
}

#beneficios{
  h1, h2, h3, h4, h5, p, a{
    font-family: 'Interstate';
  }

  .panel-heading{
    @include linear-gradient(#115c8e, lighten(#004981, 5%));

    &:hover{
      
      @include linear-gradient(#fead48, #ff9534);
    }
  }

  .panel-heading.green{
    background-color: $secondary-color;
  }

  .panel-title{
    font-size: 28px;
    text-align: center;
    color: #fff;

    a{
      font-family: 'Arial';
      font-size: 21px;
    }

    
  }

  .panel-body{
    p{
      font-size: 20px;
      font-family: 'Arial';
      color: #115c8e;
    }

    .subtext{
      font-size: 16px;
      color: darken(#eee, 30%);
      font-family: 'Arial';
    }

    a{
      font-family: 'Arial';
      color: #fead48;
    }
  }

  table{
    font-size: 18px;
    text-align: center;

    thead{
      font-weight: 500;
    }

    p{
      font-size: 18px;
    }



    .img-restaurante{
      width: 100px;
    }
  }
}




