<div class="container">
  
  <div class="row">
    <h1 class="center">Ponentes</h1>
  </div>

  <div id="ponentes" class="row">
    <% @speakers.each do |speaker| %>
      <div class="col-sm-3 ponente">
        <h3 class="center"><%= link_to speaker.full_name, speaker_path(speaker) %></h3>
      </div>
    <% end %>
  </div>
</div>