<div class="container">
  <div class="row">
    <h1>
      <%= @speaker.full_name %>
    </h1>

    <h3>
      <strong>Bio:</strong>
    </h3>

    <p><%= @speaker.bio %></p>

    <%= link_to 'Edit', edit_speaker_path(@speaker) %>
  </div>
</div>